@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

/* General Styles */

.padding-x {
    @apply sm:px-16 px-6
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

/* START: Hero styles */
.hero {
    @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
    @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
    @apply text-[27px] text-black-100 font-light mt-5;
}

.hero__image-container {
    @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
    @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}

/* Feed Component */



.prompt_layout {
    @apply space-y-6 py-8 md:columns-2 sm:gap-6 xl:columns-3 w-full md:w-max;
}

.alph_card {
    @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] lg:w-[480px] xl:w-[400px] w-full h-fit;
}

.alph_link {
    @apply p-2 rounded border border-gray-300 block mb-2 font-semibold text-lg text-gray-500 hover:bg-blue-600 hover:text-white
}

.feed {
    @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */

.glassmorphism {
    @apply rounded-xl border border-gray-200 bg-gray-200 backdrop-blur p-5;
}

.head_text {
    @apply mt-5 text-5xl font-extrabold leading-[1.15] sm:text-6xl;
}

.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.form_textarea {
    @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
    @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}